.answer-container {
    margin-top: 30px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-container > input {
    width: 50%;
    margin: 5px;
}

.input-container > label {
    font-size: 20px;
    width: 10%;
    margin-right: 10px;
}

.edit-form > h1 {
    font-family: 'Jungle Monkey';
    margin-top: 30px;
}

.answer-wrapper {
    width: 95%;
}

.answer-input {
    width: 100%;
}

.answer-input > div {
    display: flex;
    justify-content: space-evenly;
}

.select {
    width: 25px;
    height: 25px;
    background: #5A3921;
}

.answerText {
    background: transparent;
    width: 80%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.image-container > img{
    margin-top: 20px;
    width: 700px;
    height: 400px;
}

.submit-container {
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-top: 30px;
}

.submit {
    background: #6B8C42;
    color: #FFFFB5;
    border: none;
    border-radius: 5px;
    width: 25%;
    height: 50px;
    margin: 5px;
}

.submit:hover {
    background: #5A3921;
}