@font-face {
  font-family: "Jungle Monkey";
  src: url("../fonts/JungleBold.ttf") format("truetype")
}

body {
  background: linear-gradient(to bottom, #7BC67B, #FFFFB5);
  color: #5A3921;
  margin: 0;
  font-size: 18px;
}

.grand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  font-family: 'Jungle Monkey';
  font-weight: bolder;
  color: #5A3921
}

.home-big-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 50px;
  width: 95%;
}

.home-big-container > .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #5A3921;
  height: 50px;
  border-radius: 10px;
  color: #FFFFB5;
  left: 50%;
}

.home-big-container > .n1 {
  display: flex;
  background: #6B8C42;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #FFFFB5
}

.home-big-container > .n2 {
  display: flex;
  background: #6B8C42;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #FFFFB5
}

.home-big-container > .n3 {
  display: flex;
  background: #6B8C42;
  grid-column-start: 3;
  grid-column-end: 5;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;  
  color: #FFFFB5
}

.picto {
  width: 50px;
  height: 50px;
}

button {
  width: inherit;
  height: inherit;
  background: #7BC67B;
  border: none;
  border-radius: 10px;
  color: #FFFFB5;
}

button:hover {
  background: #5A3921;
}

a {
  width: 50%;
  height: 100px;
  text-align: center;
  text-decoration: none;
  color: white
}

a:hover {
  text-decoration: none;
  color: white
}