@font-face {
  font-family: "Jungle Monkey";
  src: url("../fonts/JungleBold.ttf") format("truetype")
}

body {
  background: linear-gradient(to bottom, rgb(4, 197, 52, 0.6), rgb(158, 219, 185));
  margin: 0;
}

.grand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  font-family: 'Jungle Monkey';
  font-weight: bolder;
}

.home-big-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 50px;
  width: 100%;
}

.home-big-container > .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: brown;
  height: 50px;
  border-radius: 10px;
  color: white
}

.home-big-container > .n1 {
  display: flex;
  background: green;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.home-big-container > .n2 {
  display: flex;
  background: green;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.home-big-container > .n3 {
  display: flex;
  background: green;
  grid-column-start: 3;
  grid-column-end: 5;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.picto {
  width: 50px;
  height: 50px;
}

button {
  width: inherit;
  height: inherit;
  background: brown;
  border: none;
  border-radius: 10px;
}

a {
  width: 50%;
  height: 100px;
  text-align: center;
  text-decoration: none;
  color: white
}

a:hover {
  text-decoration: none;
  color: white
}