.wrapper {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(0, 165, 0, 0.6), rgb(4, 197, 52, 0.6));
  border-radius: 0 0 8px 8px;

}

.navlink {
  width: 50%;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.navlink:hover {
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(0, 165, 0, 0.8), rgb(4, 197, 52, 0.8));
  ;
}

.linkContent {
  color: white;
  font-size: larger;
}