.wrapper {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background: linear-gradient(to bottom, #6B8C42, #7BC67B);
  border-radius: 0 0 8px 8px;

}

.navlink {
  width: 50%;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-family: 'Jungle Monkey';
  font-size: 28px;
}

.navlink:hover {
  cursor: pointer;
  text-decoration: none;
  background:  #5A3921;
}

.linkContent {
  color: #FFFFB5;
  font-size: larger;
}