.bullet-wrapper {
    display: flex;
    justify-content: center;
}

.bullet {
    width: 25px;
    height: 25px;
    background: #FFFFB5;
    border-radius: 100%;
    margin: 10px;
}

.active {
    background: #5A3921;
}