.score-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-home {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    width: 50%;
    height: 50px;
}

.back-home > button {
    color: white;
}

.top3 {
    display: flex;
    flex-direction: column;
    width: 50%;

    margin-top: 50px;
}

.top3 > .box {
    background: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    height: 50px;
    border-radius: 10px;
    color: white
}